## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/

## Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## User-specific files
*.rsuser

## Build Results
[Dd]ebugPublic/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
